.btn {
    border: none;
    background-color: rgb(23, 211, 86);
    display: inline-block;
    align-self: center;
    padding: 12px 16px;
    font-size: 16px;
    font-family: cursive;
    cursor: pointer;
    align-items: flex-start;
    width: 100%;
}

.buttonImg {
    height:16px;
    width:16px;
    padding-right: 15px;
}

.div-button {
    width:100%;
    margin-top:20px;
    display: inline-block;
}